body {
  background: #282c34;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-container {
  display: grid;
  margin: 0 20px;
  color: rgb(223, 217, 217);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  background: #383d47;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  justify-content: space-evenly;
}


/* Post Form Input */

.post-form {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.post-form label {
  display: flex;
  flex-direction: column;

}
.post-form label h3 {
  font-size: 1.5rem;
  margin-right: auto;
}

.post-form label input {
  font-size: 1.75rem;
  height: 30px;
}

.post-form label textarea {
  font-size: 1.75rem;
}